.color_white{
    color: #fff;
}

.loading{
    width: 100%;
    height: auto;
    background-color: rgba(14, 14, 14, 0.178);
    display: block;
    position: relative;
    z-index: 999991 !important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    z-index: 999991;
    border-top-color: orange;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}

.error_danger{
    background-color: rgb(249, 235, 231);
    color: crimson;
}

.error_danger p{
    margin: 0;
}

#map{
   width: 100%;
   height: 580px;    
}

.numbered-div-icon {
    width: 135px;
    display: flex;
    align-items: center;
}
.numbered-div-icon .number {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    font-size: 13px;
    font-weight: bold;
    margin-left: 4px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    visibility: hidden;
}